/* CSS Variables */
:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);

  --grayish-blue: hsl(233, 8%, 62%);

  /* Background colors */
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  max-width: 100vw;
  overflow-x: clip;
}

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}




/* Styling */
.remove-scroll {
  overflow: hidden;
}

.mobile-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(43,45,68,0.05) 0%, rgba(43,45,68,0.9) 70%, rgba(43,45,68,1) 100%);
  z-index: 5;
}

.mobile-menu-content {
  display: flex !important;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  width: calc(100% - 50px);
  top: 13%;
  left: 50%;
  height: fit-content;
  background-color: var(--white);
  transform: translate(-50%, 0);
  padding: 35px;
  border-radius: 4px;
}

.active-menu {
  display: flex !important;
}

.active-menu span {
  color: var(--dark-blue);
  font-size: 18px;
}

.request-button {
  width: fit-content;
  padding: 1em 2em;
  border: none;
  border-radius: 1.875em;
  background: linear-gradient(
    90deg,
    var(--lime-green) 5%,
    var(--bright-cyan) 95%
  );
  color: var(--white);
  font-weight: 700;
  font-size: 0.875rem;

  transition: filter 0.3s ease-in-out;
}

.request-button:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--grayish-blue);
  font-size: 0.875rem;
  z-index: 6 !important;
}

.header div {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.hero {
  display: flex;
  background-color: var(--very-light-gray);
}

.hero div {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.hero div h1 {
  color: var(--dark-blue);
  font-size: 3.3rem;
  font-weight: 400;
}

.hero div p {
  color: var(--grayish-blue);
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: 0.625em;
}

.why {
  height: 43.75em;
  background-color: var(--light-grayish-blue);
  display: flex;
  flex-direction: column;
}

.why h2 {
  color: var(--dark-blue);
  font-weight: 400;
  margin-bottom: 25px;
}

.why p {
  color: var(--grayish-blue);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.why img {
  width: 75px;
  height: 75px;
}

.cards-container div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards-container div h3 {
  color: var(--dark-blue);
  font-size: 1.5rem;
  font-weight: 300;
}

.cards-container div p {
  font-size: 0.9375rem;
}

.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--very-light-gray);
}

.articles h2 {
  color: var(--dark-blue);
  font-weight: 400;
  margin-bottom: 25px;
}



.articles-container div {
  background-color: var(--white);
  border-radius: 4px;
  transition: filter 0.3s ease-in-out;
}

.articles-container div:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.articles-container div img {
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.articles-container div article {
  padding: 18px 23px 23px 23px;
}

.articles-container div span {
  font-size: 10px;
  color: var(--grayish-blue);
}

.articles-container div h4 {
  margin: 10px 0 8px;
  font-size: 16px;
  font-weight: 300;
  color: var(--dark-blue);
}

.articles-container div p {
  color: var(--grayish-blue);
  font-size: 13px;
  font-weight: 300;
}

.footer {
  display: flex;
  color: var(--white);
  background-color: var(--dark-blue);
}

.footer section {
  display: flex;
}

.footer nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer nav span {
  min-width: 66px;
  transition: filter 0.3s ease-in-out;
}

.footer nav span:hover {
  filter: brightness(90%);
  font-weight: 700;
  cursor: pointer;
}

.footer span {
  font-size: 15px;
  font-weight: 300;
}

.icons-row {
  display: flex;
  flex-direction: row !important;
  gap: 12px;
}

.icons-row img {
  transition: filter 0.3s ease-in-out;
}

.icons-row img:hover {
  filter: brightness(60%);
  cursor: pointer;
}

.footer img {
  width: fit-content;
}

.footer div {
  display: flex;
  flex-direction: column;
}

.request-box {
  gap: 30px;
}

.request-box span {
  color: var(--grayish-blue);
}

@media (max-width: 376px) {
  body img {
    max-width: 100vw;
  }

  body {
    text-align: center;
  }

  .header {
    padding: 22px 25px;
  }

  .header button {
    display: none;
  }

  .nav-desktop {
    display: none !important;
  }

  .mockup-image {
    width: calc(100vw - 50px);
    position: absolute;
    top: -51px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
  }

  .hero {
    padding: 325px 25px 88px;
  }

  .hero div {
    align-items: center;
  }

  .hero div h1 {
    font-size: 2.5rem;
  }

  .hero div p {
    font-size: 0.9375rem;
  }

  .why {
    padding: 70px 25px;
    height: fit-content;
  }

  .why h2 {
    font-size: 2rem;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 75px;
  }

  .cards-container div {
    align-items: center;
  }

  .articles {
    padding: 70px 25px;
    height: fit-content;
  }

  .articles h2 {
    font-size: 2rem;
  }

  .articles-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 75px;
  }

  .articles-container div {
    width: 100%;
  }

  .footer {
    padding: 40px 25px;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer section {
    flex-direction: column;
    gap: 16px;
  }

  .icons-row {
    margin-top: 1.875rem;
  }

  .request-box {
    align-items: center;
    margin-top: 35px;
    gap: 30px;
  }

  .mobile-menu-button {
    display: block;
  }

  .mobile-menu {
    display: none;
  }
}

@media (min-width: 377px) {
  .header {
    padding: 1.125em 10em;
  }

  .header div span {
    transition: color 0.2s ease-in-out;
  }

  .header div span:hover {
    color: var(--dark-blue);
    cursor: pointer;
  }

  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 43.75em;
    padding: 0 10em;
  }

  .hero div h1 {
    font-size: 3.3rem;
  }

  .hero div p {
    font-size: 1rem;
  }

  .background-image {
    position: absolute;
    z-index: 0;
    top: -255px;
    right: -441px;
  }

  .mockup-image {
    position: absolute;
    z-index: 0;
    top: -119px;
    right: -125px;
  }

  .why {
    padding: 110px 10em;
  }

  .why h2 {
    font-size: 2.5em;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 27px;
  }

  .cards-container div {
    margin-top: 75px;
  }

  .articles {
    height: 43.75em;
    padding: 0 10em;
  }

  .articles h2 {
    font-size: 2.5rem;
  }

  .articles-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 27px;
    margin-top: 35px;
  }

  .articles-container div {
    width: 255px;
  }

  .footer {
    height: 190px;
    padding: 3em 10em;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer section {
    flex-direction: row;
    gap: 127px;
  }

  .icons-row {
    margin-top: 3.3em;
  }

  .request-box {
    align-items: flex-end;
  }

  .mobile-menu-button {
    display: none;
  }

  .mobile-menu {
    display: none !important;
  }
}
